# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
# * <@insert_github_username>
#
# Order is important. The last matching pattern has the most precedence.


# This file is also being managed automatically by the gitown tool.
####################Global####################
*                   @radxa-docs/Editor
######################SBC#####################
**/compute-module   @vamrs-feng @Ken-Vamrs
**/cm3              @vamrs-feng
**/cm3i             @vamrs-feng
**/cm5              @Ken-Vamrs
**/nx5              @vamrs-feng
**/nio              @RadxaStephen
**/rock3            @Radxa-Alvin @RadxaMitchell @Ken-Vamrs
**/e25              @Radxa-Alvin
**/rock3a           @RadxaMitchell
**/rock3b           @Ken-Vamrs
**/rock3c           @Radxa-Alvin
**/rock4            @RadxaStephen
**/rock5            @RadxaStephen @yjxyx
**/rock5a           @RadxaStephen
**/rock5b           @RadxaStephen
**/rock5itx         @yjxyx
**/rockpi           @RadxaMitchell @Ken-Vamrs
**/rockpie          @RadxaMitchell
**/rockpis          @RadxaMitchell
**/rocks0           @Ken-Vamrs
**/x                @shawnchainw
**/zero             @RadxaYuntian @Radxa-Alvin
**/zero/zero        @RadxaYuntian
**/zero2pro         @RadxaYuntian
**/zero3            @Radxa-Alvin
**/common/radxa-os  @RadxaYuntian
**/common/config    @RadxaYuntian
###################Front End##################
*.js                @xzuoqi @akgnah
*.ts                @xzuoqi @akgnah
*.css               @xzuoqi @akgnah
*.json              @xzuoqi @akgnah
src                 @xzuoqi @akgnah
static              @xzuoqi @akgnah
#####################CI/CD####################
.github             @RadxaYuntian
.pre-commit-config.yaml @CodeChenL @RadxaYuntian
####################gitown####################
static/img/rock3/Rock3C-bottom-800px.webp @Maycides
docs/rock3/rock3c/os-config/rsetup.md @u7985
.gitownrc @CodeChenL
.github/CODEOWNERS @nascs @CodeChenL
.cz.toml @CodeChenL
src/components/CustomDocItem/Footer/styles.module.css @xzuoqi
i18n/en/docusaurus-plugin-content-docs/current/rock5/rock5b/low-level-dev/README.md @u7985
i18n/en/docusaurus-plugin-content-docs/current/rock3/rock3a/os-config/rsetup.md @nascs
static/img/common/etcher/rock5a-step3.webp @u7985
docs/compute-module/nx5/radxa-os/apps-deploy/README.md @peterwang2050
i18n/en/docusaurus-plugin-content-docs/current/nio/nio12l/download/README.md @peterwang2050
i18n/en/docusaurus-plugin-content-docs/current/zero/zero3/os-config/rsetup.md @peterwang2050
docs/rock3/images.md @Maycides
static/img/rock3/3b/rock3b-otg.webp @Maycides
i18n/en/docusaurus-plugin-content-docs/current/compute-module/cm5/radxa-os/os-usage/README.md @Ken-Vamrs
static/img/zero/zero3/radxa_zero_3w.webp @Radxa-Alvin
docs/x/x2l/bios/bios-clear.md @melooooooooooo
src/components/CustomDocItem/Content/index.d.ts @xzuoqi
static/img/rock5b/rock5b-4k-camera.webp @Maycides
docs/rock3/rock3b/hardware/rock3b-gpio.md @nascs
docs/nio/nio12l/getting-started.md @jack-ma @Radxa-Alvin
docs/zero/zero3/getting-started/install-os.md @peterwang2050
docs/compute-module/nx5/radxa-os/app-dev/README.md @peterwang2050
docs/compute-module/cm5/radxa-os/low-level-dev/kernel.md @Ken-Vamrs
static/img/general-tutorial/rtsp/VLC-Open-RTSP.webp @Maycides
i18n/en/docusaurus-plugin-content-docs/current/compute-module/nx5/radxa-os/install-os.mdx @peterwang2050 @vamrs-feng
static/img/rock5b/downloads/Jelos.webp @Maycides
docs/x/README.md @jack-ma @melooooooooooo
docs/accessories/radxa-23w-poe.md @Maycides
i18n/en/docusaurus-plugin-content-docs/current/template/sbc/os-config/rsetup.md @peterwang2050 @nascs
i18n/en/docusaurus-plugin-content-docs/current/template/sbc/radxa-os/locale.md @nascs
docs/template/sbc/radxa-os/using-apt.md @nascs
docs/template/sbc/os-config/bootparam.md @nascs
docs/template/sbc/radxa-os/display.md @nascs
docs/x/x2l/software-development/c_sdk_examples.md @nascs
static/img/rock3/3a/rock3a-rpi-imx219.webp @nascs
docs/x/x2l/software-development/c_sdk_examples.md @nascs
i18n/en/docusaurus-plugin-content-docs/current/compute-module/cm5/radxa-os/apps-deploy/samba.md @Ken-Vamrs
docs/rock3/rock3a/other-os/android/remote-login.md @ace
i18n/en/docusaurus-plugin-content-docs/current/rock5/rock5a/accessories-guides/lcd-8-hd.md @Maycides
docs/rock5/rock5itx/low-level-dev/rkdevtool.md @u7985
docs/template/sbc/other-os/android/download.md @peterwang2050
i18n/en/docusaurus-plugin-content-docs/current/template/sbc/hardware-design/hardware-interface.md @peterwang2050
docs/rock5/rock5b/os-config/README.md @u7985
docs/rock5/rock5b/low-level-dev/README.md @u7985
i18n/en/docusaurus-plugin-content-docs/current/rock5/rock5b/os-config/README.md @u7985
i18n/en/docusaurus-plugin-content-docs/current/rock5/rock5b/hardware-design/README.md @nascs
i18n/en/docusaurus-plugin-content-docs/current/rock5/rock5b/apps-deployment/README.md @nascs
docs/rock5/rock5b/getting-started/preparation.md @nascs
i18n/en/docusaurus-plugin-content-docs/current/rock5/rock5b/getting-started/preparation.md @nascs
docs/compute-module/cm5/android/install-os.mdx @y0w0
static/img/rock5b/rock5b-4k-camera-connected.webp @Maycides
static/img/rock5b/downloads/OpenMandriva.webp @Maycides
docs/rock3/rock3b/install-os.md @u7985
docs/compute-module/nx5/getting-started/accessory-usage.md @peterwang2050
docs/compute-module/nx5/README.md @peterwang2050
src/components/CustomDocItem/TOC/Desktop/index.js @xzuoqi
docs/zero/zero3/app-development/gpiod.md @nascs
i18n/en/docusaurus-plugin-content-docs/current/template/module/radxa-os/low-level-dev/README.md @peterwang2050
docs/x/x2l/software-development/flash.md @nascs
i18n/en/docusaurus-plugin-content-docs/current/rock5/rock5b/low-level-dev/install-os-on-nvme.md @nascs
docs/rock5/rock5b/getting-started/install-os.md @nascs
i18n/en/docusaurus-plugin-content-docs/current/template/sbc/os-config/rsetup/led.md @peterwang2050
docs/rock5/rock5a/getting-started/before-start.md @Maycides @melooooooooooo
docs/compute-module/cm3/mp-deployment/backup.md @u7985
i18n/en/docusaurus-plugin-content-docs/current/zero/zero3/app-development/README.md @peterwang2050
i18n/en/docusaurus-plugin-content-docs/current/rock3/rock3b/accessories-guides/lcd-10-fhd.md @RadxaMitchell
docs/nio/nio12l/install-yocto-system.md @peterwang2050
docs/rock3/rock3a/README.md @nascs
i18n/en/docusaurus-plugin-content-docs/current/compute-module/nx5/getting-started/preparation.md @vamrs-feng @peterwang2050
docs/rock5/rock5b/low-level-dev/serial.md @u7985
docs/template/sbc/other-os/android/README.md @peterwang2050
docs/rock5/rock5a/getting-started/overview.md @Maycides
i18n/en/docusaurus-plugin-content-docs/current/compute-module/cm5/radxa-os/app-dev/wiringx.md @Ken-Vamrs
docs/zero/zero3/app-development/rtsp.md @u7985
docs/compute-module/cm5/getting-started/install-os.md @Ken-Vamrs
